@import 'common/style';

#app {
}

.van-block__title {
  margin: 0;
  padding: 20px 16px 16px;
  color: var(--van-doc-text-color-4);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.van-popup--bottom {
  left: auto;
  max-width: 750px;
  margin: 0 auto;
}
