html,
body {
  position: relative;
  overflow: hidden;
  background-color: #f7f8fa;
}


body {
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  overflow: scroll;
}

@supports (-webkit-touch-callout: none) {
  body {
    height: calc(100vh - 150px) !important;
  }
}